.background{
    background-color: black;
}

@font-face {
    font-family: Exo;
    src: url("../font/Exo2-ExtraLight.ttf")
}

@font-face {
    font-family: DS_Dots;
    src: url("../font/P27_Square_Cyr.ttf")
}